*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;

}

.page1,.page2{
    height: 100vh;
    width: 100%;
    background-color: gray;
    position: relative;

     .nav{
        padding: 3rem 2rem;
        background-color: #000000;
        width: 100%;
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        img{
            width: 30px;
            height: 30px;
            object-fit: cover;
            display: none;
            
            
        }
              
    }
}

.menu{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: cyan;
    top: 0;
    left: 100%;
    transition: all .5s;
    display: none;

}
.menu.open{
    left: 0%;
}


@media (max-width: 580px) {

    .page1{
        background-color: red;

        .nav{
            background-color: yellowgreen;
            padding: 2rem 1rem;
            width: 100%;

            img{
                display: block;
            }
        }

        .menu{
            display: block;
        }
    }
    
}